.flag {
  width: 36px;
  height: 23px;
  background: linear-gradient(
    red 0 16.66%,
    orange 0 33.33%,
    yellow 0 50%,
    green 0 66.66%,
    blue 0 83.33%,
    indigo 0
  );
  border-radius: 2px;
  box-shadow:
    1px 1px 3px #0000ff49,
    -1px 1px 3px #00800049,
    -1px -1px 3px #ffc0cb49,
    1px -1px 3px #ffff0049;
}
