.root {
  position: absolute;
  width: 250px;
  height: 200px;
  top: -120px;
  left: -20px;
  z-index: -1;
  display: flex;
  transform: rotate(-30deg);
  filter: blur(30px);
  opacity: 0.7;
  overflow: hidden;
}

.stripe {
  flex: 1;
  margin: 0 2px;
  animation: stripeMovement 10s ease-in-out infinite alternate;
}

.red {
  background-color: rgba(255, 92, 92, 0.7);
}

.orange {
  background-color: rgba(255, 154, 77, 0.7);
}

.yellow {
  background-color: rgba(255, 231, 76, 0.7);
}

.green {
  background-color: rgba(103, 224, 163, 0.7);
}

.blue {
  background-color: rgba(77, 180, 255, 0.7);
}

.purple {
  background-color: rgba(171, 124, 255, 0.7);
}

@keyframes stripeMovement {
  0%,
  100% {
    transform: scaleY(1) translateY(0);
  }
  50% {
    transform: scaleY(1.1) translateY(-10px);
  }
}
