.root {
  --blur-size: 24px;
  position: absolute;
  display: flex;
  z-index: -1;
  transform: rotate(-35deg);
  top: -50px;
  filter: hue-rotate(0deg) blur(var(--blur-size));
  opacity: 0.4;
  transition: 4s;
  animation: rotateHue 10s infinite linear;
}

.color {
  height: 150px;
  width: 35px;
  transition: 4s;
}

.pink {
  background-color: #fa0bd3;
}

.red {
  background-color: #ff0010;
  margin-top: 12px;
}

.yellow {
  background-color: #fff702;
  margin-top: 18px;
}

.green {
  background-color: #22f256;
  margin-top: 24px;
}

.blue {
  background-color: #0093ff;
  margin-top: 30px;
}

@keyframes rotateHue {
  0% {
    filter: hue-rotate(0deg) blur(var(--blur-size));
  }

  50% {
    filter: hue-rotate(-180deg) blur(var(--blur-size)) saturate(4);
    transform: rotate(-20deg);
  }

  100% {
    filter: hue-rotate(0deg) blur(var(--blur-size));
  }
}
